//colors
$background-color:#FFC0CB;
$grey-color:#F7F7F7;
$black:#000000;
$white:#FFFFFF;
$btn-color:#B9DAF0;
$text-color: #323c47;
$new-color:#FFBA80;

//border
$border-radius:6px;

//default padding
$padding:100px 0px;

//margin
$margin:20px;
$margin-large:50px;

//width

$large: 1350px;
