.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 120px;
    align-items: center;
    height: max-content;
    background-color: $white;
    @include vp-1024(){
        flex-direction: column;
    }
}

.navigation {
    ul {
        display: flex;
        flex-direction: row;

        li {
            cursor: pointer;
            padding: 0 20px;

            &:hover {
                color: $black;
            }
        }
    }
}

.main {
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h2 {
        width: max-content;
    }
    @include vp-1024(){
       padding: 10px 30px;
    }
}

.course {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    @include vp-1024(){
        grid-template-columns: repeat(1, 1fr);
    }

    &-card {
        border-radius: $border-radius;
        padding: 20px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 400px;
        position: relative;
        align-items: center;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $white;

        }

        &__img {
            width: 50%;
            @include vp-1024(){
                width: 100%;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &__info {
            width: 50%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__price {
            background-color: $date-color;
            border-radius: $border-radius;
            color: white;
            font-weight: 600;
            text-align: center;
            width: max-content;
            padding: 10px;
        }

        &__top {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        &__submit {

        }
    }
}


.teachers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
    @include vp-1024(){
        grid-template-columns: repeat(1, 1fr);
    }
    &-card {
        border-radius: $border-radius;
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: max-content;
        gap: 20px;
        align-items: center;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: $white;
        }

        &__img {
            img {
                object-fit: cover;
                width: 300px;
                height: 200px;
            }
        }

        &__info {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}


.contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 40px 0;

    &-info {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}


.profile-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
        object-fit: cover;
        width: 200px;
        height: max-content;
    }

    h3 {
        width: max-content;
    }

    h2 {
        margin-bottom: 30px;
        position: relative;
        width: 100%;
        text-align: center;

        &:before {
            content: '';
            border-bottom: 1px solid $black;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
        }
    }
}

.course-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;

    img {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }

    &__title {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        h3, p {
            width: max-content;
            text-transform: uppercase;
        }

    }

    &__group {
        display: flex;
        flex-direction: row;
        gap: 20px;


        &-item {
            border: 1px solid $black;
            padding: 10px;
            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-time {
            p {
                width: max-content;
            }
        }
    }
}

.groups{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    &__card{
        width: 100%;
        height: 300px;
        border-radius: $border-radius;
        background-color: $white;
        transition: background-color 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        &:hover{
            background-color: $btn-color;
        }
        &-img{
            width: 100%;
            height: 150px;
            overflow: hidden;
        }
        img{
            object-fit: cover;
            width: 100%;
        }
    }
}

