.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 120px;
    align-items: center;
    height: max-content;
    background-color: $white;
    @include vp-1024() {
        flex-direction: column;
    }
}

.navigation {
    ul {
        display: flex;
        flex-direction: row;

        li {
            cursor: pointer;
            padding: 0 20px;

            &:hover {
                color: $black;
            }
        }
    }
}

.main {
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h2 {
        width: max-content;
    }

    @include vp-1024() {
        padding: 10px 30px;
    }
}

.profile-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
        object-fit: cover;
        width: 200px;
        height: max-content;
    }

    h3 {
        width: max-content;
    }

    h2 {
        margin-bottom: 30px;
        position: relative;
        width: 100%;
        text-align: center;

        &:before {
            content: '';
            border-bottom: 1px solid $black;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
        }
    }
}

.groups {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    @include vp-1024() {
        grid-template-columns: repeat(2, 1fr);
    }
    @include vp-768() {
        grid-template-columns: repeat(1, 1fr);
    }

    &__card {
        padding: 0 0 20px 0;
        width: 100%;
        height: 300px;
        border-radius: $border-radius;
        background-color: $black;
        transition: background-color 0.3s ease;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        overflow: hidden;

        &:hover {
            background-color: $white;
            h2 {

                color: $black;

            }
        }

        &-img {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 3;
        }

        img {
            object-fit: cover;
            width: 100%;
        }

        h2 {
            position: absolute;
            z-index: 4;
            width: 100%;
            text-align: center;
            color: $white;
            bottom: 20px;
        }
    }
}

.albums {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    @include vp-1024() {
        grid-template-columns: repeat(2, 1fr);
    }
    @include vp-768() {
        grid-template-columns: repeat(1, 1fr);
    }

    &__card {
        width: 100%;
        height: 420px;
        background-color: $white;
        transition: background-color 0.3s ease;
        border-radius: $border-radius;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;

        &-new {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: $new-color;
            border-radius: $border-radius;
            padding: 5px;
        }

        &-submit {

        }

        &-info {
            padding: 10px ;
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 100%;
            justify-content: space-between;
        }

        p {
            font-size: 1.5rem;
            font-weight: 600;
            color: $black;
        }

        h3 {
            width: 100%;
        }

        &:hover {
            background-color: $btn-color;
        }

        &-img {
            width: 100%;
            height: 250px;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 250px;
        }
    }
}

.info-block {
    width: 100%;
    height: 600px;
    overflow: hidden;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include vp-1279() {
        flex-direction: column;
        height: max-content;
        gap: 20px;
    }

    img {
        object-fit: cover;
        width: 50%;
        @include vp-1279() {
            width: 100%;
            height: 300px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include vp-1279() {
            width: 100%;
            height: max-content;
        }

        span {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                bottom: 0;
                border-bottom: 1px solid $black;
                z-index: 1;
                width: 328px;
                height: 2px;
            }
        }

        &-address {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-link {
            font-weight: 600;
        }
    }
}

.album-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    @include vp-1279(){

        flex-direction: column;
    }

    &__img {
        width: 50%;
        overflow: hidden;
        height: 400px;
        @include vp-1279(){
            width: 100%;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__info {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 30px;
        gap: 50px;
        @include vp-1279(){
            width: 100%;
        }
        h2{
            text-align: right;
            @include vp-1279(){
                text-align: left;
            }
        }
    }

    &__description{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__price {
        font-size: 1.5rem;
        font-weight: 600;
        color: $black;
    }

    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &-new {
            background-color: $new-color;
            border-radius: $border-radius;
            padding: 5px;
            color: $white;
            width: max-content;
            height: max-content;
        }
    }

}


.custom-btn {
    width: 130px;
    height: 40px;
    color: #4e4e4e;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-3 {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}
.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.btn-3:before {
    height: 0%;
    width: 2px;
}
.btn-3:after {
    width: 0%;
    height: 2px;
}
.btn-3:hover{
    background: transparent;
    box-shadow: none;
}
.btn-3:hover:before {
    height: 100%;
}
.btn-3:hover:after {
    width: 100%;
}
.btn-3 span:hover{
    color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.btn-3 span:before {
    width: 2px;
    height: 0%;
}
.btn-3 span:after {
    width: 0%;
    height: 2px;
}
.btn-3 span:hover:before {
    height: 100%;
}
.btn-3 span:hover:after {
    width: 100%;
}


.comment {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;

    &__item {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $white;
        border-radius: $border-radius;
        gap: 15px;
        font-weight: bold;
        color: $white;
    }

    &__header {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid $white;
        color: $white;
    }

    &__body {

    }
}


textarea {
    width: 800px;
    @include vp-1024() {
        width: 300px;
    }
}
